{{ partial "header" . }}

<main>

    {{ partial "list-item" . }}

    <br> <div class="text-justify">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "blogs") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}

        <h4 class="page-header">関連記事</h4>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    {{ end }}

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

    {{ if .Site.Params.talkHost }}
    {{ partial "talk.html" . }}
    {{ end }}
 
    {{ if .Site.Params.coralHost }}
    {{ partial "coral.html" . }}
    {{ end }}

    {{ with .Parent.Pages.Prev . }}
    <span class="prev-page far fa-arrow-alt-circle-left">
      <a href="{{ .RelPermalink }}">{{ substr .Title 0 35 }}</a>
    </span>
    {{ end }}

    {{ with .Parent.Pages.Next . }}
    <span class="next-page">
      <a href="{{ .RelPermalink }}">{{ substr .Title 0 35 }}</a>
      <span class="far fa-arrow-alt-circle-right" />
    </span>
    {{ end }}

</main>

{{ partial "footer.html" . }}
