{{ partial "header" . }}

<main>
    {{ partial "list-item" . }}
    <br />
    <div class="text-justify">{{ .Content }}</div>

    <!-- previous and next page links -->
    {{ partial "prev-next-links" . }}
</main>

    <!-- social buttons -->
    {{ partial "share" . }}

<main>
    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "blogs") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
    {{ if $related }}
        <h4>関連記事</h4>
        {{ range $related }} {{ partial "list-item" . }} {{ end }}
    {{ end }}
</main>

{{ partial "footer.html" . }}
