figure.about-corp-logo {
    float: left;
    width: 50px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
}

p.clear-float {
    clear: left;
}

p.sample-style {
    color: blue;
    font-style: italic;
    margin-left: 25px;
}

span.prev-page {
    margin-top: 25px;
    float: left;
}

span.next-page {
    margin-top: 25px;
    float: right;
}

figure.common-style {
    text-align: center;
}
